<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WeatherApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>crowdFunding.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>crowdFunding.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>crowdFunding.servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>crowdFunding.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>crowdFunding.servlet.ProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/Project</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProjectServlet</servlet-name>
    <servlet-class>crowdFunding.servlet.EditProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProjectServlet</servlet-name>
    <url-pattern>/EditProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InvestServlet</servlet-name>
    <servlet-class>crowdFunding.servlet.InvestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvestServlet</servlet-name>
    <url-pattern>/InvestAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>crowdFunding.servlet.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>crowdFunding.servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/Message</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FollowServlet</servlet-name>
    <servlet-class>crowdFunding.servlet.FollowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowServlet</servlet-name>
    <url-pattern>/FollowAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FollowUserServlet</servlet-name>
    <servlet-class>crowdFunding.servlet.FollowUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowUserServlet</servlet-name>
    <url-pattern>/FollowUserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>crowdFunding.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
</web-app>